In [26]:
import duckdb
import pandas as pd
import matplotlib.pyplot as plt

In [27]:
conn = duckdb.connect('testing.ddb')

In [28]:
conn.execute('''
    
    CREATE OR REPLACE TABLE rawdata AS
    SELECT * FROM read_csv('olympics-economics.csv')
    WHERE gdp_year = 2023
    ORDER BY total DESC;

''')

In [29]:
conn.table('rawdata').show()

┌───────────────┬──────────────┬───────┬────────┬────────┬───────┬──────────┬──────────┬────────────┐
│    country    │ country_code │ gold  │ silver │ bronze │ total │   gdp    │ gdp_year │ population │
│    varchar    │   varchar    │ int64 │ int64  │ int64  │ int64 │  double  │  int64   │   double   │
├───────────────┼──────────────┼───────┼────────┼────────┼───────┼──────────┼──────────┼────────────┤
│ United States │ USA          │    40 │     44 │     42 │   126 │ 81695.19 │     2023 │      334.9 │
│ China         │ CHN          │    40 │     27 │     24 │    91 │ 12614.06 │     2023 │     1410.7 │
│ Great Britain │ GBR          │    14 │     22 │     29 │    65 │  48866.6 │     2023 │       68.3 │
│ France        │ FRA          │    16 │     26 │     22 │    64 │ 44460.82 │     2023 │       68.2 │
│ Australia     │ AUS          │    18 │     19 │     16 │    53 │ 64711.77 │     2023 │       26.6 │
│ Japan         │ JPN          │    20 │     12 │     13 │    45 │ 33834.39 │     2023 │      124.5 │
│ Italy         │ ITA          │    12 │     13 │     15 │    40 │ 38373.17 │     2023 │       58.8 │
│ Netherlands   │ NLD          │    15 │      7 │     12 │    34 │ 62536.73 │     2023 │       17.9 │
│ Germany       │ DEU          │    12 │     13 │      8 │    33 │ 52745.76 │     2023 │       84.5 │
│ South Korea   │ KOR          │    13 │      9 │     10 │    32 │ 33121.37 │     2023 │       51.7 │
│  ·            │  ·           │     · │      · │      · │     · │     ·    │       ·  │         ·  │
│  ·            │  ·           │     · │      · │      · │     · │     ·    │       ·  │         ·  │
│  ·            │  ·           │     · │      · │      · │     · │     ·    │       ·  │         ·  │
│ Fiji          │ FJI          │     0 │      1 │      0 │     1 │  5868.16 │     2023 │        0.9 │
│ Jordan        │ JOR          │     0 │      1 │      0 │     1 │  4482.09 │     2023 │       11.3 │
│ Mongolia      │ MNG          │     0 │      1 │      0 │     1 │   5764.8 │     2023 │        3.4 │
│ Panama        │ PAN          │     0 │      1 │      0 │     1 │ 18661.77 │     2023 │        4.5 │
│ Cape Verde    │ CPV          │     0 │      0 │      1 │     1 │  4321.58 │     2023 │        0.6 │
│ Ivory Coast   │ CIV          │     0 │      0 │      1 │     1 │   2728.8 │     2023 │       28.9 │
│ Peru          │ PER          │     0 │      0 │      1 │     1 │  7789.87 │     2023 │       34.4 │
│ Singapore     │ SGP          │     0 │      0 │      1 │     1 │ 84734.26 │     2023 │        5.9 │
│ Slovakia      │ SVK          │     0 │      0 │      1 │     1 │ 24470.24 │     2023 │        5.4 │
│ Zambia        │ ZMB          │     0 │      0 │      1 │     1 │  1369.13 │     2023 │       20.6 │
├───────────────┴──────────────┴───────┴────────┴────────┴───────┴──────────┴──────────┴────────────┤
│ 88 rows (20 shown)                                                                      9 columns │
└───────────────────────────────────────────────────────────────────────────────────────────────────┘

In [30]:
df = conn.execute("""

    SELECT * FROM rawdata 
    ORDER BY total DESC;

""").fetchdf()

In [31]:
display(df)

,country,country_code,gold,silver,bronze,total,gdp,gdp_year,population
0,United States,USA,40,44,42,126,81695.19,2023,334.9
1,China,CHN,40,27,24,91,12614.06,2023,1410.7
2,Great Britain,GBR,14,22,29,65,48866.60,2023,68.3
3,France,FRA,16,26,22,64,44460.82,2023,68.2
4,Australia,AUS,18,19,16,53,64711.77,2023,26.6
...,...,...,...,...,...,...,...,...,...
83,Ivory Coast,CIV,0,0,1,1,2728.80,2023,28.9
84,Peru,PER,0,0,1,1,7789.87,2023,34.4
85,Singapore,SGP,0,0,1,1,84734.26,2023,5.9
86,Slovakia,SVK,0,0,1,1,24470.24,2023,5.4
87,Zambia,ZMB,0,0,1,1,1369.13,2023,20.6